body {
  margin: 0;
  background-color: black;
  text-align: center;
  overflow: hidden;
}

canvas {
  height: 100vh;
  background-color: rgb(62, 51, 66);
  /* background-image: url(../img/background.jpg); */
  /* background-repeat: no-repeat; */
}
